$giallo-trasparente:#9EEFFF;
$verde-acqua:#006875;



.container{
    background-color:$giallo-trasparente;
    border:
    {
        top: 3px;
        bottom: 6px red;
    }
    span {
        color:$verde-acqua;
    }
}



